<footer class="footer container">
    <section class="footer__section1">
      <div class="section1__div1">
        <img class="footer__image1" src="img/logo.svg" />
        <p class="section1__div1__text">We are the leading architect and interior design firm in the world.</p>
        <div class="social">
        <img class="footer__image2" src="img/facebook.svg" />
        <img class="footer__image3" src="img/twitter.svg" />
        <img class="footer__image4" src="img/linkedin.svg" />
        <img class="footer__image5" src="img/insta.svg" />
      </div>
      </div>
      <div class="section1__div2 miau">
        <a class="section1__div__link1">Pages</a>
        <a class="section__div__link2">Style Guide</a>
        <a class="section__div__link2">Protected</a>
        <a class="section__div__link2">Licenses</a>
        <a class="section__div__link2">Changelog</a>
        <a class="section__div__link2">404</a>
      </div>
      <div class="section1__div3 miau">
        <a class="section1__div__link1">Explore</a>
        <a class="section__div__link2">About Us</a>
        <a class="section__div__link2">Recent Blog</a>
        <a class="section__div__link2">Pricing Plan</a>
        <a class="section__div__link2">Our Projects</a>
        <a class="section__div__link2">Contact Us</a>
      </div>
      <div class="section1__div4 miau">
        <a class="section1__div__link1">Contact</a>\
        <a class="section1__div1__text">53, East Birchwood Ave. Brooklyn, New York 11201, USA.</a>
        <a class="section__div__link2">contact@interno.com</a>
        <a class="section__div__link2">(123) 456 - 7890</a>
      </div>
    </section>
    <hr/>
    <section class="footer__section2">
      <p class="footer__section2__text">Copyright © Interno | Designed by</p>
      <a class="footer__section2__link">Victorflow</a>
      <p class="footer__section2__text">Templates - Powered by</p>
      <a class="footer__section2__link">Webflow</a>
    </section>
  </footer>