<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Let's Create Your Dream Interior</h1>
            <p>
                The world needs innovators and problem solvers who turn <br />
                challenges into greater opportunities.
            </p>
            <div class="hero-content_button">
                Get Started
                <img src="./../img/arrow-right.svg" alt="arrow right" />
            </div>
        </div>
    </div>
</section>
