<section class="recent-projects container">
    <h2>Recent Projects</h2>
    <p>
        With tools to make every part of your process more human and a support
        team
    </p>
    <p>excited to help you, getting started with us never been easier.</p>

    <div class="recent-project_cards">
        <div class="recent-project_card">
            <img
                class="project-card_img"
                src=".././img/image6.1.png"
                alt="project image"
            />
            <div class="recent-project_card-info">
                <div class="recent-project_card-info_text">
                    <h5>Winery Dry Creek Building</h5>
                    <p>Alt Modern</p>
                </div>
                <button>
                    <img src=".././img/arrow.svg" alt="arrow" />
                </button>
            </div>
        </div>
        <div class="recent-project_card">
            <img
                class="project-card_img"
                src=".././img/image6.2.png"
                alt="project image"
            />
            <div class="recent-project_card-info">
                <div class="recent-project_card-info_text">
                    <h5>Creative Workplace Design</h5>
                    <p>Minimalist</p>
                </div>
                <button>
                    <img src=".././img/arrow.svg" alt="arrow" />
                </button>
            </div>
        </div>
        <div class="recent-project_card">
            <img
                class="project-card_img"
                src=".././img/image6.3.png"
                alt="project image"
            />
            <div class="recent-project_card-info">
                <div class="recent-project_card-info_text">
                    <h5>Bedroom Interior Pot Work</h5>
                    <p>Modern</p>
                </div>
                <button>
                    <img src=".././img/arrow.svg" alt="arrow" />
                </button>
            </div>
        </div>

        <div class="recent-project_card">
            <img
                class="project-card_img"
                src=".././img/image6.4.png"
                alt="project image"
            />
            <div class="recent-project_card-info">
                <div class="recent-project_card-info_text">
                    <h5>Light Ambience Sepia Design</h5>
                    <p>Scandinavian</p>
                </div>
                <button>
                    <img src=".././img/arrow.svg" alt="arrow" />
                </button>
            </div>
        </div>
    </div>
</section>
