<section class="testimonials-section"><br><br>
    <h2>What the People Thinks<br> About Interno</h2><br><br>
    <div class="testimonials-container">
      <div class="testimonial">
        <img src="../img/person1.png" alt="Lisa Clairton">
        <h3 class="heading3">Lisa Clairton</h3>
        <p class="location">New York, USA</p>
        <p class="skib">We selected Interno interior because of rigorous design background &amp; education.</p>
      </div>
      <div class="testimonial">
        <img src="../img/person2.png" alt="David Knight">
        <h3 class="heading3">David Knight</h3>
        <p class="location">Sydney, Australia</p>
        <p class="skib">The team exceeded our expectations and emerged as leaders of our project&#39;s.</p>
      </div>
      <div class="testimonial">
        <img src="../img/person3.png" alt="Lisa Clairton">
        <h3 class="heading3">Lisa Clairton</h3>
        <p class="location">Paris, France</p>
        <p class="skib">They balanced the architectural vision and the project realities beautifully.</p>
      </div>
    </div>
  </section>
