<section class="section3">
    <div class="stretch">
      <h1 class="section3__title">We Tackle The Most Challenging Designs</h1><br>
      <p class="section3__text1">
        The world needs innovators and problem solvers who turn challenges
        into greater opportunities. We have an insatiable curiosity about
        transformative trends challenging the status.
      </p>

      <div class="phone">
        <img class="section3__img1" src="" alt="img" />
        <div class="forphone">
        <a class="section3__link">012345678</a>
        <p class="section3__text2">Call Us Anytime</p>
      </div>
      </div>

      <button class="section3__button">
        <div class="section3__button__stretch">
        <p class="section3__text3">Get Free Estimate</p>
        <img class="section3__img2" src="" alt="img" />
      </div>
      </button>
    </div>

    <div class="stretch2">
        <div class="section3_img3">
      <img class="IMAGE" src="https://s3-alpha-sig.figma.com/img/3e82/c1ed/2b24952214fe35994d50a3400638bb76?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dSqmt~huMUHbEpFGTcDNoLmNxfeq0dEgqUtmDiMAzJ87m1KPJA4yFP5tkEAUjoUBXcpIBf1zcKjwhIv89ywGRRdHjtjFuNttBMvHlLBOBMq~zkodUjdsbFFVpzHDFFgoH~6MJ3PB4B~GCGOZIuNv8PJKK~C0tvrQ9EDJTjjzb7gtD78I5TrmC-zt8A0nmPhlucJG8nR08IMFIAiIWd9aMA72a-0ERifLMvv8POeP6dKrcqZ~YUTJGaB1wKOywPTFSYgUTYtbexbAYLDeZN8rmhuzKDP1k9YBlSLSn7qqZn52kXmYlUsS0deqpwYw2rh~4rNk8YO9I3Pt35cT5g1eJQ__" alt="img" />
    </div>
</div>
  </section>