<section>
    <div class="header">
        <h1 class="firsth">Recent Blogs</h1>
        <p class="first">Get updates about our latest trends and techniques used in<br>interior design project works.</p>
    </div>







    <div class="container">
        <div class="Kitchen_design">
            

            <img class="lolll" src="../img/image8.1.png"><h1 class="kkkk">Residential Interior Designer In New York, USA</h1><br><br><div class="svg1">
                 <h5 class="small">November 23, 2021</h5><br> <svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_2_230)">
    <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_2_230">
    <rect width="9" height="16" fill="white"/>
    </clipPath>
    </defs>
    </svg> </div>
        </div>







        <div class="Living_room">
            <img class="lolll" src="../img/image8.2.png">
<h3 class="kkkk">How To Choose The Best Wall Art & Decor House?</h3><br><br> <div class="svg1"> <h5>November 23, 2021</h5><svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_2_230)">
    <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_2_230">
    <rect width="9" height="16" fill="white"/>
    </clipPath>
    </defs>
    </svg> </div>
        </div>









        <div class="Minimal_interior">
           
            <img class="lolll" src="../img/image8.3.png">
<h3 class="kkkk"> Tips To Increase The Interior Value Of Your House?</h3><br><br>
<div class="svg1"> <h5>November 23, 2021</h5><svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_2_230)">
    <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_2_230">
    <rect width="9" height="16" fill="white"/>
    </clipPath>
    </defs>
    </svg> </div>
        </div>







     </div>
     <div class="container">
        <div class="Kitchen_design">
            <img class="lolll" src="../img/image8.4.png">
            <h3 class="kkkk">Best Solution For Any Office & Business Interior</h3><br><br>
            <div class="svg1"> <h5>November 23, 2021</h5><svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_230)">
                <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_2_230">
                <rect width="9" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg> </div>
        </div>









        <div class="Living_room">
            <img class="lolll" src="../img/image8.5.png">
            <h3 class="kkkk">Get Solution For Building Construction Work</h3><br><br>
            <div class="svg1"> <h5>November 23, 2021</h5><svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_230)">
                <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_2_230">
                <rect width="9" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg> </div>
        </div>



        <div class="Living_room">
            <img class="lolll" src="../img/image8.6.png">
            <h3 class="kkkk">Attain The Best Finish For The Kitchen Cabinets</h3><br><br>
            <div class="svg1"> <h5>November 23, 2021</h5><svg class="arrow" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_230)">
                <path d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445" stroke="#292F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_2_230">
                <rect width="9" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg> </div>
        </div>
    
    </section>
    