<section class="section8">
    <div class="div1">
      <h1 class="div1__h1">Recent Blogs</h1>
      <p class="div1__text">
        Get updates about our latest trends and techniques used in interior design
        project works.
      </p>
    </div>
  
    <div class="div2">
      <div class="divsection">
      <div class="Kitchen_design">
        <img class="lolll" src="../img/image8.1.png" />
        <h1 class="kkkk">Residential Interior Designer In New York, USA</h1>
        <div class="svg1">
          <h5 class="small">November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
      </div>
  
      <div class="Living_room">
        <img class="lolll" src="../img/image8.2.png" />
        <h3 class="kkkk">How To Choose The Best Wall Art & Decor House?</h3>
        <div class="svg1">
          <h5>November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
      </div>
  
      <div class="Minimal_interior">
        <img class="lolll" src="../img/image8.3.png" />
        <h3 class="kkkk">Tips To Increase The Interior Value Of Your House?</h3>
        <div class="svg1">
          <h5>November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
        </div>
      </div>
  <div class="divsection2">
      <div class="Kitchen_design">
        <img class="lolll" src="../img/image8.4.png" />
        <h3 class="kkkk">Best Solution For Any Office & Business Interior</h3>
        <div class="svg1">
          <h5>November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
      </div>
  
      <div class="Living_room">
        <img class="lolll" src="../img/image8.5.png" />
        <h3 class="kkkk">Get Solution For Building Construction Work</h3>
        <div class="svg1">
          <h5>November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
      </div>
  
      <div class="Living_room">
        <img class="lolll" src="../img/image8.6.png" />
        <h3 class="kkkk">Attain The Best Finish For The Kitchen Cabinets</h3>
        <div class="svg1">
          <h5>November 23, 2021</h5>
          <img class="arrow" src="../img/arrow.svg" />
        </div>
        </div>
      </div>
  
    </div>
  </section>