<section class="section3 container">
    <div class="section3__info">
        <h2 class="section3__title">We Tackle The Most Challenging Designs</h2>
        <p class="section3__text">
            The world needs innovators and problem solvers who turn challenges
            into greater opportunities. We have an insatiable curiosity about
            transformative trends challenging the status.
        </p>

        <div class="section3__phone">
            <div class="section3__phone_img">
                <img src="../img/phone.svg" alt="phone" />
            </div>
            <div class="section3__phone_info">
                <a href="tel:012345678">012345678</a>
                <p>Call us Anytime</p>
            </div>
        </div>

        <button>
            Get Free Estimate <img src="../img/arrow-right.svg" alt="arrow" />
        </button>
    </div>
    <img class="section3_bg" src="../img/image3.png" alt="section3" />
</section>
