<section class="section2 container">
    <div class="section2__div1 la">
      <p class="section2__text1">Interior Design</p>
      <p class="section2__div1__text2 gav">
        Enhancing the interior to achieve a healthier environment for the people
        using right space.
      </p>
      <div class="stretch">
        <p class="section2__text">View More</p>
        <img src="img/arrow-right.svg" alt="svg" />
      </div>
    </div>
    <div class="section2__div2 la">
      <p class="section2__text1">Furniture</p>
      <p class="section2__div2__text2 gav">
        Movable articles that are used to make a room or building suitable for
        living or working.
      </p>
      <div class="stretch">
        <p class="section2__text">View More</p>
        <img src="img/arrow-right.svg" alt="svg" />
      </div>
    </div>
    <div class="section2__div3 la">
      <p class="section2__text1">Flooring</p>
      <p class="section2__div3__text2 gav">
        Thin object any finished material applied over a floor structure to
        provide a walking surface.
      </p>
      <div class="stretch">
        <p class="section2__text">View More</p>
        <img src="img/arrow-right.svg" alt="svg" />
      </div>
    </div>
  </section>