<section class="section7">
 
    <div class="section7__div1">
      <p class="section7__number">12</p>
      <p class="section7__text">Years Of Experiance</p>
    </div>
    <div class="section7__div">
      <p class="section7__number">5K</p>
      <p class="section7__text">Success Project</p>
    </div>
    <div class="section7__div">
      <p class="section7__number">1K</p>
      <p class="section7__text">Active Project</p>
    </div>
    <div class="section7__div">
      <p class="section7__number">4K</p>
      <p class="section7__text">Happy Customers</p>
    </div>

</section>
