
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="section8.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 class="firsth">Recent Blogs</h1>
        <p class="firstt">Get updates about our latest trends and techniques used in<br>interior design project works.</p>
    </div>
    <div class="container">
        <div class="Kitchen_design">
            <img class="img1" src="c:\Users\sysko\Downloads\image (17).jpg" alt="kitchen">
<h3>Residential Interior Designer In New York, USA</h3><br>
<h5>November 23, 2021</h5> 
        </div>
        <div class="Living_room">
            <img class="img2" src="c:\Users\sysko\Downloads\image (18).jpg" alt="img2">
<h3>How To Choose The Best Wall Art & Decor House?</h3><br>
<h5>November 23, 2021</h5>
        </div>
        <div class="Minimal_interior">
            <img class="img3" src="c:\Users\sysko\Downloads\image (19).jpg" alt="img3">
<h3>Tips To Increase The Interior Value Of Your House?</h3><br>
<h5>November 23, 2021</h5>
        </div>
     </div>
     <div class="container">
        <div class="Kitchen_design">
            <img class="img3" src="c:\Users\sysko\Downloads\image (20).jpg" alt="Kitchen_design">
            <h3>Best Solution For Any Office & Business Interior</h3><br>
            <h5>November 23, 2021</h5>
        </div>
        <div class="Living_room">
            <img class="img3" src="c:\Users\sysko\Downloads\image (21).jpg" alt="Living_room">
            <h3>Get Solution For Building Construction Work</h3><br>
            <h5>November 23, 2021</h5>
        </div>
        <div class="Minimal_interior">
            <img class="img3" src="c:\Users\sysko\Downloads\image (22).jpg" alt="Minimal_interior">
            <h3>Attain The Best Finish For The Kitchen Cabinets</h3><br>
            <h5>November 23, 2021</h5>
        </div>
   </div>
</body>
</html>