.footer__section1 {
    display: flex;
    padding: 50px 50px 80px 50px;
    gap: 76px;
  }
  .footer__image1 {
    padding-bottom: 15px;
  }
  .section1__div1__text {
    color: #4d5053;
    padding-bottom: 30px;
    width: 325px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
  }
  .social {
    display: flex;
    gap: 40px;
  }
  
  .section1__div2 {
    width: 150px;
  }
  .section1__div3 {
    width: 150px;
  }
  .section1__div4 {
    display: inline;
  }
  .section1__div__link1 {
    font-family: "DM Serif Display", serif;
    color: #292f36;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    padding-bottom: 21px;
    text-align: center;
  }
  .section__div__link2 {
    color: #4d5053;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    padding-bottom: 30px;
  }
  
  .footer__section2 {
    display: flex;
    gap: 1px;
    padding: 36px 125px ;
  }
  .footer__section2__text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    color: #4d5053;
  }
  .footer__section2__link {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    color: #cda274;
  }