.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 100px;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.header__nav__link1 {
  color: #cda274;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.4000000059604645px;
}

.header__nav__link {
  color: #292f36;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.4000000059604645px;
}
