.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3_bg {
    width: 592px;
    height: 635px;

    border-radius: 0 326px 0 123px;
}

.section3__title {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    width: 450px;

    line-height: 65px;
}

.section3__text {
    margin-top: 42px;

    font-size: 22px;
    width: 530px;

    color: #4d5053;

    line-height: 33px;
}

.section3__phone {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.section3__phone_img img {
    width: 32px;
    height: 32px;
}

.section3__phone_img {
    padding: 30px;
    background: #f4f0ec;
    border-radius: 50%;
}

.section3__phone_info {
    margin-left: 20px;
}

.section3__phone_info a {
    color: #4d5053;
    font-size: 24px;
}
.section3__phone_info p {
    color: #4d5053;
    font-size: 22px;
}

.section3 .section3__info button {
    padding: 22px 34px;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #292f36;

    border-radius: 18px;

    gap: 19px;

    margin-top: 60px;
}
