/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("./header.css");
@import url("./section1.css");
@import url("./section2.css");
@import url("./section3.css");
@import url("./section4.css");
@import url("./section5.css");
@import url("./section6.css");
@import url("./section7.css");
@import url("./section8.css");
@import url("./section9.css");
@import url("./footer.css");

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Jost", sans-serif;
    /* font-family: "Inter", sans-serif;
    font-family: "DM Serif Display", serif; */
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
